/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.col-1  {
  width: 32%;
  float: left;
  display: inline;
}

.col-2  {
  width: 66%;
  float: left;
  display: inline;
}

[class*="col-"] {
  margin-left: 2%;
}

.first  {
  margin-left: 0%;
}

.deals  {
  clear: both;
  background: none;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

.footer {
  padding-left: 2%;
}

/* Positioning Classes */
