/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */

.milk_text {
	padding-top: 0.5em;
}

#featured-brands {
	float: left;
	width: 65%;
	/*margin-right: 1em;*/
}

#shoe-archive {
	float: right;
	width: 33%;
}


#deals .shadow {
	float: left;
	margin-top: 1em;
	width: 32.2%;
}

#deals .col-middle {
	margin: 1em;
}

/* MARGIN AT THE TOP OF DETAILS??? */

#details div {
	width: 31%;
	float: left;
	margin-right: 1em;
}
