/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */
.box-1 {
  display: block;
  margin-bottom:2%;
}

.box-2 {
  display: block;
  margin-bottom:2%;
}

.left-double-column{
  width:66%;
  float: left;
  display: inline-block;
  max-height: 100%;
  margin: 0 2% 0 0;
}

.left-single-column {
  float: left;
  width:32%;
  display: inline-block;
  max-height: 100%;
  margin: 0 2% 0 0;
}

.middle-single-column {
  float: left;
  width:32%;
  display: inline-block;
  max-height: 100%;
  margin: 0 2% 0 0;
}

.right-single-column {
  width:32%;
  display: inline-block;
  max-height: 100%;
}
